[SHELF-TEST]

[parameters]
flow_factor = 1
default_flwa = 5.7e-18
# value of "flwa" is for tests 3&4 in simple shelf tests of EISMINT-shelf test cases
# see: http://homepages.vub.ac.be/~phuybrec/eismint/iceshelf.html

[CF output]
variables = thk uvel vvel velnorm flwa
frequency = 1
name = circular-shelf.out.nc

[grid]
upn = 5
ewn = 41
nsn = 41
dew = 1250 
dns = 1250
sigma_builtin = 1

[time]
tstart = 0.
tend = 0.
dt = 0.25

[CF default]
comment = created by circular-shelf.py
title = Circular Shelf Experiment (first-order dynamics)

[options]
dycore = 1              # 0 = SIA, 1 = 1st-order Payne-Price
flow_law = 2            # 2 = isothermal, 0 = temperature dependent
evolution = 3           # 3 = remapping
temperature = 3         # 0 = none; 1 = old Glimmer, 3 = remapping
marine_margin = 0

[ho_options]
diagnostic_scheme = 1   # 1 = Payne/Price 1st-order dynamics
which_ho_babc = 5       # 5 = take basal traction param from .nc input
which_ho_efvs = 0       # 0 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     # 1=SLAP GMRES, 4=Trilinos for linear solver
which_ho_nonlinear = 0  # 0=Picard, 1=JFNK

[CF input]
name = circular-shelf.nc
time = 1

[external_dycore_options]
external_dycore_type = 0
dycore_input_file = inputs.circularShelf
