# configuration for the EISMINT-2 test-case

[EISMINT-2]
massbalance = 0.25 1.05e-5 425.0e3

[grid]
# grid sizes
ewn = 61
nsn = 61
upn = 11
dew = 25000
dns = 25000

[options]
dycore = 0
temperature = 1
flow_law = 2
isostasy = 0
slip_coeff = 0
marine_margin = 3
evolution = 0
basal_water = 1
hotstart = 1
vertical_integration = 1

[time]
tstart = 200000.
tend   = 400000.
dt = 5.
ntem = 1.
nvel = 1.
niso = 1.

[parameters]
flow_factor = 1.
geothermal = -42.e-3

[CF default]
title: EISMINT-2 Exp C
comment: forced upper kinematic BC

[CF output]
name: e2.c.nc
frequency: 1000
variables: thk bmlt btemp temp uvel vvel wvel wgrd acab diffu

[CF input]
name: e2.a.hot.nc
time: 2
