# configuration for the EISMINT-2 test-case

[EISMINT-2]

[grid]
# grid sizes
ewn = 61
nsn = 61
upn = 11
dew = 25000
dns = 25000

[options]
dycore = 0
temperature = 1
flow_law = 2
isostasy = 0
#sliding_law = 4
marine_margin = 3
evolution = 0
basal_water = 1
vertical_integration = 1

[time]
tend = 200000.
dt = 5.
ntem = 1.
nvel = 1.
niso = 1.

[parameters]
flow_factor = 1.
geothermal = -42.e-3

[CF default]
title: EISMINT-2 Exp K
comment: forced upper kinematic BC

[CF input]
name: mound.nc

[CF output]
name: e2.k.nc
frequency: 1000
variables: topg thk bmlt btemp temp uvel vvel wvel wgrd acab diffu

[CF output]
name: e2.k.hot.nc
frequency: 100000
xtype: double
variables: hot
