# Ignore python bytecode files
*.pyc
buildnmlc

# Ignore emacs backup files
*~

# Ignore doc/build/doctrees
##doc/build/doctrees 
# ignore for the merge to master and orphaning of the gh-pages branch
doc/build

