[submodule "mpas-o"]
	path = components/mpas-o/model
	url = git@github.com:ACME-Climate/MPAS.git
	branch = ocean/develop
[submodule "mpas-li"]
	path = components/mpasli/model
	url = git@github.com:ACME-Climate/MPAS.git
[submodule "mpas-cice"]
	path = components/mpas-cice/model
	url = git@github.com:ACME-Climate/MPAS.git
	branch = cice/develop
[submodule "sbetr-alm"]
	path = components/clm/src/external-models/sbetr
	url = git@github.com:ACME-Climate/sbetr.git
	branch = alm/develop
