[project]
	description = This repository contains the ACME model.
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/susburrows
[access "refs/for/refs/*"]
	read = group user/susburrows
	push = group user/susburrows
	label-Code-Review = -2..+2 group user/susburrows
	label-Verified = -1..+1 group user/susburrows
	rebase = group user/susburrows
	removeReviewer = group user/susburrows
	submit = group user/susburrows
[access "refs/heads/*"]
	read = group user/susburrows
	create = group user/susburrows
	push = +force group user/susburrows
	pushMerge = group user/susburrows
[access "refs/tags/*"]
	push = +force group user/susburrows
	pushTag = group user/susburrows
	pushSignedTag = group user/susburrows
