[flake8]
# https://pep8.readthedocs.io/en/latest/intro.html#error-codes
ignore =
    # line break after operator
    W504
# Max width of Github code review is 79 characters
max-line-length = 79
max-complexity = 18
per-file-ignores =
    */__init__.py: F401
exclude =
    .git,
    docs,
    .idea,
    .mypy_cache,
    .pytest_cache,

[isort]
multi_line_output=3
include_trailing_comma=True
force_grid_wrap=0
use_parentheses=True
line_length=79
skip=
    e3sm_diags/e3sm_diags_driver.py

[pycodestyle]
max-line-length = 79
exclude =
    .git
    docs
    .idea
    .mypy_cache
    .pytest_cache

[mypy]
python_version = 3.10
check_untyped_defs = True
ignore_missing_imports = True
warn_unused_ignores = True
warn_redundant_casts = True
warn_unused_configs = True
