[ROSS-TEST]

[grid]
upn = 11
# x and y dimensions are one more than the raw data, 
# because we are choosing to use the raw data on the velocity grid.
ewn = 148
nsn = 112
dew = 6822
dns = 6822

[time]
tstart = 0.
tend = 0.
dt = 1.
dt_diag = 1.
idiag = 80
jdiag = 30

[options]
dycore = 2              # 1 = glam, 2 = glissade
flow_law = 0            # 0 = isothermal, 2 = temperature dependent
evolution = 3           # 3 = inc. remapping, 4 = FO upwind
marine_margin = 3       # 3 = threshold from relaxed bedrock (also see option "whichmarn" in glide_types.F90)
temperature = 0         # 0 = set column to surf. air temp, 1 = prognostic, 2 = hold at init. values

[ho_options]
which_ho_babc = 5       # 5 = take basal traction param value from .nc input
which_ho_efvs = 2       # 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3     # 1 = SLAP GMRES, 3 = glissade parallel PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 0  # 0 = Picard, 1=JFNK
which_ho_approx = 1     # 1 = SSA, 2 = Blatter-Pattyn, 3 = L1L2
which_ho_precond = 1    # 0 = none, 1 = diagonal, 2 = SIA based (ONLY use for which_ho_approx = 2)
glissade_maxiter = 300  # max. no. of nonlinear (Picard) iterations for Glissade

[parameters]
default_flwa = 4.6e-18
# value of "flwa" is set as specified for EISMINT-Ross benchmark. 
# See: http://homepages.vub.ac.be/~phuybrec/eismint/iceshelf.html
# See also: MacAyeal et al., Ann. Glaciol., 23, 1996 pp.46-51

[CF default]
title = EISMINT-Ross Benchmark Experiment 

[CF input]
name = ross.nc
time = 1

[CF output]
variables = thk uvel vvel wvel velnorm
frequency = 1
name = ross.out.nc
