[ROSS-TEST]

[grid]
upn = 11
ewn = 151
nsn = 115
dew = 6822
dns = 6822

[time]
tstart = 0.
tend = 0.
dt = 1.

[options]
dycore = 1
flow_law = 0            # 0 = isothermal, 2 = Paterson-Budd
evolution = 3
marine_margin = 3       # 3 = threshold from relaxed bedrock 
temperature = 0         # 0 = surface air temp, 1 = prognostic

[ho_options]
which_ho_babc = 5       # take basal traction param from .nc input
which_ho_efvs = 2       # 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     # 1=SLAP GMRES, 4=Trilinos for linear solver
which_ho_nonlinear = 0  # 0=Picard, 1=JFNK

[parameters]
flow_factor = 1.
default_flwa = 4.6e-18
# value of "flwa" is set as specified for EISMINT-Ross benchmark. 
# See: http://homepages.vub.ac.be/~phuybrec/eismint/iceshelf.html
# See also: MacAyeal et al., Ann. Glaciol., 23, 1996 pp.46-51

[CF default]
title = EISMINT-Ross Benchmark Experiment 

[CF input]
name = output/ross.nc
time = 1

[CF output]
variables = thk uvel vvel wvel velnorm
frequency = 1
name = output/ross.out.nc
