[DOME-TEST]

[grid]
upn = 10
ewn = 31
nsn = 31
dew = 2000
dns = 2000

[time]
tstart = 0.
tend = 200.
dt = 5.0
dt_diag = 5.
idiag = 10
jdiag = 10

[options]
dycore = 2              ;# 0 = glide, 1 = glam, 2 = glissade
flow_law = 0            ;# 0 = flow_law option needs to be 0 for the test case to work properly.
evolution = 3           ;# 2 = iterated diffusion, 3 = IR
temperature = 0         ;# 0 = isothermal temp evolution, if turned on, will not affect flwa because default_flwa is specified below.

[ho_options]
which_ho_babc = 4       ;# 4 = no-slip at bed
which_ho_efvs = 2       ;# 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3     ;# 1 = SLAP GMRES, 3 = glissade parallel PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 0  ;# 0 = Picard, 1 = JFNK
which_ho_approx = 2     ;# 1 = SSA, 2 = Blatter-Pattyn, 3 = L1L2
which_ho_gradient = 1   ;# 0 = centered, 1 = upstream

[parameters]
ice_limit = 1.           ;# min thickness (m) for dynamics
default_flwa = 1.0e-16   ;# NOTE: The Halfar testing script requires that flwa is supplied here!

[CF default]
comment = created with halfar.py 
title = halfar dome test case

[CF input]
name = halfar.nc
time = 1

[CF output]
variables = restart
frequency = 1
name = halfarHO.out.nc

