[DOME-TEST]

[grid]
upn = 10
ewn = 31
nsn = 31
dew = 2000
dns = 2000

[time]
tstart = 0.
tend = 200.
dt = 5.0
dt_diag = 5.0
idiag = 10
jdiag = 10

[options]
dycore = 0              ;# 0 = glide, 1 = glam
flow_law = 0            ;# 0 = NOTE: flow_law option needs to be 0 for the test case to work properly.
evolution = 2           ;# 2 = iterated diffusion
temperature = 0         ;# 0 = isothermal temp.  If temp is turned on, will not affect flwa because flow_law=0.

[ho_options]
# Note: these are ignored for SIA (glide dycore)
which_ho_babc = 4       ;# 4 = no-slip at bed
which_ho_efvs = 2       ;# 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     ;# 1 = SLAP GMRES, 4 = Trilinos for linear solver
which_ho_nonlinear = 1  ;# 0 = Picard, 1 = JFNK

[parameters]
ice_limit = 10.          ;# min thickness (m) for dynamics
default_flwa = 1.0e-16   ;# NOTE: The Halfar testing script requires that flwa is supplied here!

[CF default]
comment = created with halfar.py 
title = halfar dome test case

[CF input]
name = halfar.nc
time = 1

[CF output]
variables = restart
# Note: 'restart' auto-expands to the important state variables
frequency = 1
name = halfar.out.nc

