#WHL - This template may need some work.

[grid]
# grid sizes
ewn = 65
nsn = 65
upn = 11
dew = #GRIDSIZE#
dns = #GRIDSIZE#

[options]
dycore = 0
temperature = 0
flow_law = 0
isostasy = 0
slip_coeff = 0
marine_margin = 3
evolution = #SOLVER#
basal_water = 0
vertical_integration = 1

[time]
tend = 200000.
dt = #DELTATIME#

[parameters]
flow_factor = 1.
geothermal = -42e-3

[CF default]
title: #TITLE#

[CF output]
name: #OUTNAME#
frequency: 1000
variables: thk uflx vflx uvel vvel acab 
