---
BasedOnStyle: LLVM
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignTrailingComments: true
---
# # you can obtain the defaults for the LLVM style by running
# #   clang-format --style=llvm --dump-config > [outfile]
# # the option definitions are found here:
# #   https://clang.llvm.org/docs/ClangFormatStyleOptions.html
