version: 2.1
jobs:
  build:
    machine:
      image: previous
    steps:
      - checkout
      - run: bash .circleci/setup.sh
      - run: bash .circleci/checkout.sh
      - run: bash .circleci/container.sh
      - run:
          command: singularity exec --hostname singularity e3sm.sif .circleci/run.sh
          no_output_timeout: 60m
