[DOME-TEST]

[grid]
upn = 10
ewn = 31
nsn = 31
dew = 2000
dns = 2000

[time]
tstart = 0.
tend = 10.
dt = 1.
dt_diag = 1.
idiag = 10
jdiag = 10

[options]
dycore = 2                  # 1 = glam, 2 = glissade
flow_law = 2                # 0 = isothermal, 2 = temperature dependent
evolution = 3               # 3 = inc. remapping, 4 = FO upwind
temperature = 1             # 0 = set column to surf. air temp, 1 = prognostic, 2 = hold at init. values             

[ho_options]
which_ho_babc = 4           # 4 = no-slip at bed
which_ho_efvs = 2           # 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3         # 1 = SLAP GMRES, 3 = glissade parallel PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 0      # 0 = Picard, 1 = JFNK

[parameters]
ice_limit = 1.          # min thickness (m) for dynamics

[CF default]
comment = created with dome.py 
title = parabolic dome test case using first-order dynamics  

[CF input]
name = dome.nc
time = 1

[CF output]
variables = thk usurf uvel vvel velnorm temp
frequency = 1
name = dome.out.nc

