# configuration for the EISMINT-3 Greenland test-case

[EISMINT-3]
load_thk = 1

[grid]
# grid sizes
ewn = 83
nsn = 141
upn = 11
dew = 20000
dns = 20000

[sigma]
sigma_levels = 0.00 0.15 0.30 0.45 0.60 0.75 0.83 0.90 0.95 0.98 1.00

[options]
temperature = 1
flow_law = 0
marine_margin = 4
evolution = 0
basal_water = 2
vertical_integration = 0
topo_is_relaxed=2

[isostasy]
lithosphere=1
asthenosphere=1
relaxed_tau=3000.0

[time]
tend = 200000.
dt = 1.
ntem = 10.
nvel = 20.

[parameters]
flow_factor = 3.0
geothermal = -50e-3
marine_limit = 0.0
ice_limit=100.0

[CF default]
title: EISMINT-3 Greenland
comment: Steady-state scenario

[CF output]
name: e3gl_steady.nc
frequency: 2000
variables: thk bmlt btemp temp uvel vvel wvel wgrd acab diffu artm usurf topg relx flwa EISMINT_prcp arng prcp bheatflx presprcp presartm

[CF input]
name: EISMINT3GL.input.nc
