# input tif files
input_location : '/lustre/scratch4/turquoise/zhendong/Delaware_Manning/'
vegetation_mask_file : 'DelawareSM.tif'
vegetation_height_file : 'Delaware.Height.2000-08.tif'
vegetation_density_file : 'Delaware.Density.2000-08.tif'
vegetation_diameter_file : 'Delaware.Size.2000-08.tif'
Delaware_Manning_file : 'Chesapeake_and_Delaware_Bay_LambMap_DietrichN.tif'

# input mpas grid file
mpas_grid_file : '../USDEQU120at30cr10rr2WD/build_mesh/culled_mesh/culled_mesh.nc'

# output
output_file : '../USDEQU120at30cr10rr2WD/sandy/init/vegetationInfo_Delaware.nc'

# plot and save interpolated data?
figplot : False
