[EIS CONY]

[EIS ELA]
ela_file = mb2.data 
bmax_mar = 4.
ela_a = 14430.069930
ela_b = -371.765734
ela_c = 2.534965

[EIS Temperature]
temp_file = temp-exp.model
type = 1
lapse_rate  = -0.006

[EIS SLC]
slc_file = specmap.data

[grid]
# grid sizes
ewn = 141
nsn = 119
upn = 11
dew = 20000
dns = 20000

[options]
temperature = 1 
flow_law = 0
sliding_law = 0
slip_coeff = 2
marine_margin = 3
evolution = 0
topo_is_relaxed = 1
basal_water = 0
vertical_integration = 1

[time]
tstart = -120000.
tend =   0.
dt = 1.
ntem = 1.
nvel = 1.
niso = 1.

[parameters]
flow_factor = 3.
basal_tract_const = 1.e-2
marine_limit = -500.
ice_limit = 500.
geothermal = -0.050

[isostasy]
lithosphere = 1
asthenosphere = 1

[GTHF]
nlayer = 10

[CF default]
title: GTHF, warm, -0.050
institution: University of Edinburgh
references: see PhD Magnus Hagdorn

[CF output]
name: fenscan-gthf.nc
frequency: 500
variables: thk topg eus bmlt slc btemp ubas vbas bheatflx

[CF output]
name: fenscan-gthf.2000a.nc
frequency: 2000
variables: thk temp topg eus litho_temp uvel vvel wvel

[CF output]
name: fenscan-gthf.hot.nc
frequency: 10000
variables: hot
xtype: double

[CF input]
name: europe.20km.nc

