# configuration for the EISMINT-1 test-case
# fixed margin

[EISMINT-1 fixed margin]
period = 40000.

[grid]
# grid sizes
ewn = 31
nsn = 31
upn = 11
dew = 50000
dns = 50000

[options]
dycore = 0
temperature = 1
flow_law = 0
marine_margin = 3
evolution = 0
basal_water = 0
vertical_integration = 1

[time]
tend = 200000.
dt = 10.
ntem = 1.
nvel = 1.
niso = 1.

[parameters]
flow_factor = 1.
geothermal = -42.e-3

[CF default]
title: EISMINT-1 fixed margin (time-dependent)
comment: forcing period 40000a, forced upper kinematic BC

[CF output]
name: e1-fm.3.nc
frequency: 1000
variables: thk uflx vflx bmlt btemp temp uvel vvel wvel diffu acab

