[DOME-TEST]
temperature = -30. 1.67e-5

[parameters]
geothermal = -42e-3
flow_factor = 1
ice_limit = 0
[CF output]
variables = thk btemp temp uvel vvel wvel uvelhom vvelhom wgrd acab diffu uvelhom_srf uvelhom_bas vvelhom_srf vvelhom_bas tau_xz tau_yz velnormhom
frequency = 1
name = hump.out.nc

[grid]
upn = 11
ewn = 40
nsn = 40
dew = 1000
dns = 1000
sigma_builtin = 1

[time]
niso = 1.
tend = 201000.
ntem = 1.
tstart = 200000.
dt = 1.
nvel = 1.

[CF default]
comment = forced upper kinematic BC
title = diagnostic solution for parabolic blob of ice

[options]
flow_law = 2
evolution = 0
temperature = 1
vertical_integration = 1
sliding_law = 4
marine_margin = 2
stress_calc = 2
hotstart = 1
basal_water = 0
isostasy = 0
diagnostic_run = 1

[ho_options]
diagnostic_scheme = 1
prognostic_scheme = 0
which_ho_babc = 4
which_ho_sparse = 1
which_ho_efvs = 0

[CF input]
name = hump.nc
time = 1

[external_dycore_options]
external_dycore_type = 0
dycore_input_file = ../../../../BISICLES/code/interface/inputs/inputs.glimmer.hump
