[STREAM-TEST ]

[grid]
upn = 2
ewn = 15
nsn = 31
dew = 2000.0
dns = 2000.0

[time]
tstart = 0.0
tend = 0.0
dt = 1.0 

[options]
dycore = 2                  # 1 = glam, 2 = glissade
flow_law = 0                # 0 = isothermal, 2 = temperature dependent
evolution = 3               # 3 = inc. remapping, 4 = FO upwind

[ho_options]
which_ho_babc = 2           # till yield stress map taken from .nc input 
which_ho_efvs = 2           # nonlinear eff. visc. w/ n=3
which_ho_sparse = 3         # 1 = SLAP GMRES, 3 = glissade parallel PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 0      # 0=Picard, 1=JFNK
which_ho_approx = 2         # 1 = SSA, 2 = Blatter-Pattyn, 3 = L1L2
which_ho_precond = 1        # 0 = none, 1 = diagonal, 2 = SIA based (ONLY use for which_ho_approx = 2)
which_ho_assemble_beta = 1  # 0=smoothed by FEM assembly, 1 = local approx.
glissade_maxiter = 300      # max. no. of nonlinear (Picard) iterations for Glissade

[parameters]
periodic_offset_ew = 30.0

[CF default]
comment = none
title = simple ice stream - yield stress set for analytical solution

[CF input]
name = stream.nc 
time = 1

[CF output]
variables = usrf topg thk flwa uvel vvel velnorm tauf
frequency = 1
name = stream.out.nc
xtype = double
