[lat_lon]
sets = ["lat_lon"]
case_id = "GPCP_v2.2"
variables = ["PRECT"]
seasons = ["ANN"]
regions = ["global"]

ref_name = "GPCP_v2.2"
reference_name = "GPCP (yrs1979-2014)"
reference_data_path = "."
# Don't need ref_file, we have 'GPCP_v2.2_ANN_climo.nc' in this dir

test_name = "climo system tests"
short_test_name = "short_system tests"
test_data_path = "."
start_year = '2000'
end_year = '2014'
timeseries_input = True

backend = "mpl"
results_dir = "all_sets_climo"
debug = True

