[DOME-TEST]

[grid]
upn = 50
ewn = 30
nsn = 20
dew = 50
dns = 50

[time]
tstart = 0.
tend = 0.
dt = 1.

[options]
dycore = 2              # 1 = glam, 2 = glissade
flow_law = 0            # 0 = constant
evolution = 3           # 3 = remapping
temperature = 1         # 1 = prognostic, 3 = enthalpy

[ho_options]
which_ho_babc = 5       # 5 = externally-supplied beta(required by test case)
which_ho_efvs = 0       # 0 = constant (required by test case - makes n effectively 1)
which_ho_sparse = 3     # 1 = SLAP GMRES, 3 = glissade parallel PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 0  # 0 = Picard, 1 = JFNK

[parameters]
ice_limit = 1.          # min thickness (m) for dynamics
periodic_offset_ew = 487.379544349

[CF default]
comment = created with slab.py
title = inclined slab test case for higher-order dynamics

[CF input]
name = slab.nc
time = 1

[CF output]
variables = thk usurf uvel vvel velnorm topg beta
frequency = 1
name = slab.out.nc

