[GIS-TEST]

[grid]
upn = 11
ewn = 76
nsn = 141
dew = 20000
dns = 20000

[time]
tstart = 0.0
tend = 10.0
dt = 1. 

[options]
dycore = 1              # 0 = glide, 1 = glam
evolution = 3           # 3 = remapping
temperature = 1         # 1 = prognostic
flow_law = 2            # 0 = constant, 2 = Paterson-Budd
slip_coeff = 0          # 0 = no sliding, 3 = constant where T=Tpmp
basal_water = 1         # 0 = none, 1 = local
marine_margin = 1       # 1 = remove all floating ice
isostasy = 0            # 0 = no isostasy
restart = 0             # 0 = initial run, 1 = restart

[ho_options]
which_ho_efvs = 2       # 0 = constant, 2 = function of eff strain rate
which_ho_babc = 4       # 4 = no sliding
which_ho_nonlinear = 0  # 0 = Picard, 1 = JFNK
which_ho_sparse = 4     # 1 = slap GMRES, 4 = Trilinos
which_ho_resid = 3      # 3 = L2norm

[parameters]
geothermal = -50e-3     # positive down
flow_factor = 1.
default_flwa = 1.0e-16

[CF default]
comment = Greenland high resolution run
title = Greenland, 20 km res

[CF input]
name = output/gis_20km.nc
time = 1

[CF output]
variables = thk topg artm acab temp bheatflx bmlt bwat uvel vvel velnorm kinbcmask beta
frequency = 100 
name = output/gis_20km.out.nc
