[DOME-TEST]

[grid]
upn = 10
ewn = 31
nsn = 31
dew = 2000
dns = 2000
sigma_builtin = 1

[time]
tstart = 0.
tend = 0.
dt = 1.

[options]
dycore = 1              # 0 = glide, 1 = glam
flow_law = 0            # 0 = constant, 2 = Paterson-Budd
evolution = 3           # 3 = remapping 
temperature = 1         # 1 = prognostic

[ho_options]
which_ho_babc = 4       # 4 = no-slip at bed
which_ho_efvs = 2       # 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 4     # 1 = SLAP GMRES, 4 = Trilinos for linear solver
which_ho_nonlinear = 1  # 0 = Picard, 1 = JFNK

[parameters]
flow_factor = 1.
ice_limit = 0.          # min thickness (m) for dynamics

[CF default]
comment = created with dome.py 
title = parabolic dome test case using first-order dynamics  

[CF input]
name = dome.nc
time = 1

[CF output]
variables = thk usurf uvel vvel velnorm temp
frequency = 1
name = dome.out.nc

