[STREAM-TEST ]
temperature = -30. 1.67e-5  #WHL - is this needed?

[grid]
upn = 5
#ewn = 20 
#nsn = 20
#dew = 3571.429 
#dns = 3571.429 
ewn = 40 
nsn = 40
dew = 1470.588 
dns = 1470.588 

[time]
tstart = 0.0
tend = 0.0
dt = 1.0 

[options]
dycore = 1
flow_law = 0            # isothermal
evolution = 3
marine_margin = 0

[ho_options]
which_ho_babc = 2       # till yield stress map from .nc input (2=Picard; 7=Newton)
which_ho_efvs = 2       # nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     # 1=SLAP GMRES, 4=Trilinos for linear solver
which_ho_nonlinear = 0  # 0=Picard, 1=JFNK

[parameters]
flow_factor = 1.
ice_limit = 0.

[CF default]
comment = none
title = simple ice stream - yield stress set for analytical solution

[CF input]
name = stream.nc 
time = 1

[CF output]
variables = usrf topg thk flwa uvel vvel velnorm beta dynbcmask btractx btracty 
frequency = 100
name = stream.out.nc

