[DOME-TEST]

[parameters]
flow_factor = 1
ice_limit = 0

[CF output]
variables = thk usurf uvel vvel wvel velnorm temp
frequency = 1
name = dome.out.nc

[grid]
upn = 10
ewn = 1024
nsn = 1024
dew = 60
dns = 60
sigma_builtin = 1

[time]
tstart = 0.
tend = 0.0
dt = 1.

[CF default]
comment = created with dome.py
title = parabolic dome test case using first-order dynamics 

[options]
dycore = 1
flow_law = 2            # isothermal
periodic_ew = 1         # doubly periodic lateral boundary conditions
periodic_ns = 1
evolution = 3
temperature = 3         # 1 = old Glimmer, 3 = remapping

[ho_options]
diagnostic_scheme = 1   # Payne/Price 1st-order dynamics
which_ho_babc = 4       # no-slip at bed
which_ho_efvs = 0       # nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     # 1=SLAP GMRES, 4=Trilinos for linear solver
which_ho_nonlinear = 0  # 0=Picard, 1=JFNK

[CF input]
name = dome.1024.nc
time = 1


[external_dycore_options]
external_dycore_type = 0
dycore_input_file = inputs.dome.0032
