# configuration for the EISMINT-2 test-case

[EISMINT-2]

[grid]
# grid sizes
ewn = 61
nsn = 61
upn = 11
dew = 25000
dns = 25000

[options]
dycore = 0
temperature = 1
flow_law = 2
isostasy = 0
marine_margin = 3
evolution = 0
basal_water = 1
slip_coeff = 2
#sliding_law = 0
vertical_integration = 1

[time]
tend = 50000.
dt = 30.
ntem = 1.
nvel = 1.
niso = 1.

[parameters]
flow_factor = 1.
geothermal = -42.e-3
basal_tract_const = 1.e-3

[CF default]
title: linear, dt=30a
comment: EISMINT-2 Exp H, forced upper kinematic BC

[CF output]
name: l-30a.nc
frequency: 1000
variables: thk bmlt temp btemp ubas vbas uuvel vvel wvel bwat

