# configuration for the EISMINT-1 test-case
# moving margin

[EISMINT-1 moving margin]
temperature = -3.150 1.e-2
massbalance = 0.5 1.0e-5 0.0e3
mb_amplitude = 500000.
period = 60000.

[grid]
# grid sizes
ewn = 31
nsn = 31
upn = 11
dew = 50000
dns = 50000

[options]
dycore = 0
temperature = 1
flow_law = 0
#sliding_law = 4
marine_margin = 3
evolution = 2
basal_water = 0
vertical_integration = 0
isostasy = 1

[time]
tend = 50000.
dt = 10.
ntem = 1.
nvel = 1.
dt_diag = 1000.
idiag = 16
jdiag = 16

[isostasy]
lithosphere = 1
asthenosphere = 0

[parameters]
flow_factor = 1.
geothermal = -42.e-3

[CF default]
title: elastic lithosphere, fluid asthenosphere

[CF output]
name: isos.elfa.nc
frequency: 1000
variables: topg slc thk uflx vflx bmlt btemp temp uvel vvel wvel relx

