.. _templates:

#########
Templates
#########

CIME includes a number of template files that are used to dynamically
create scripts in the CASEROOT. The **.case.run** and **.case.test**
scripts are hidden files in the CASEROOT because these scripts should
only be run via **case.submit**.

.. toctree::
   :maxdepth: 1



