[DOME-TEST]

[grid]
upn = 3
#ewn = 661
ewn = 1321
#ewn = 2641
nsn = 5
dew = 1600
dns = 1600

[time]
tstart = 0.
#tend = 15000.
tend = 1.0
dt = 0.25
dt_diag = 0.25
#idiag = 286
idiag = 567
#idiag = 1130
jdiag = 3

[options]
dycore = 2              # 0 = glide, 1 = glam, 2=glissade
evolution = 4           # 3 = remapping, 4 = first order upwind
flow_law = 0            # 0 = constant, 2 = Paterson-Budd
temperature = 0         # 1 = prognostic, 3 = enthalpy
marine_margin = 4
basal_water = 4         # 4 = ocean penetration parameterization
#restart = 1

[ho_options]
which_ho_babc = 11      # 4 = no-slip at bed, 10 = Coulomb friction law, 11 = Coulomb w/const basal flwa
which_ho_efvs = 2       # 0 = constant, 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3     # 1 = SLAP GMRES, 3 = Fortran PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 0  # 0 = Picard, 1 = JFNK
which_ho_precond = 1    # 1 = diagonal precond, 2 = shallow ice preconditioner
which_ho_approx = 1     # 2 = Blatter-Pattyn, 3 = L1L2, 4 = DIVA
which_ho_gradient_margin = 2
which_ho_gradient = 0   #0 = centered, 1 = upstream
which_ho_assemble_beta = 1   #0 = standard FE, 1 = local
which_ho_assemble_taud = 1   #0 = standard FE, 1 = local
which_ho_ground = 1     #0 = no GLP, 1 = GLP
which_ho_resid = 4      #3 = absolute, 4 = relative
glissade_maxiter = 50
restart_extend_velo = 1 # 1 = write uvel/vvel on extended grid

[parameters]
rhoi = 900.0            # CISM default = 910
rhoo = 1000.0           # CISM default = 1028
grav = 9.80             # CISM default = 9.81
flow_factor = 1.
ice_limit = 1.                 ; min thickness (m) for dynamics
default_flwa = 14.648e-17
#default_flwa = 31.558e-18
marine_limit = -1280           ; depth past which ice is lost
coulomb_c = 0.1778
coulomb_bump_max_slope = 0.5    ; maximum bed obstacle slope
#coulomb_bump_wavelength = 6.33753723303     ; bedrock's wavelength
#coulomb_bump_wavelength = 1.365374112507
coulomb_bump_wavelength = 2.0
flwa_basal = 1.0e-16
#p_ocean_penetration = 1.        ; p values for coulomb friction law
p_ocean_penetration = 0.        ; p values for coulomb friction law


[CF default]
comment = created with mismipINit.py 
title = MISMIP experiment using CISM2

[CF input]
name = mismipInit.nc
#name = Exp1_A_3.1558e-17_3200.0km_Restart.out.nc
time = 1

[CF output]
#variables = thk usurf uvel vvel velnorm temp beta topg flwa
variables = restart effec_press beta resid_u resid_v f_ground f_pattyn btractx btracty taudx taudy tau_xx
frequency = 1
#name = Exp1_A_1.4648e-16_1600.0km.out.nc
name = mismipInit.out.nc

[CF output]
variables = restart
xtype = double
frequency = 1000
name = mismip.restart.nc
