[SHELF-TEST]

[grid]
upn = 5
ewn = 43
nsn = 44
dew = 5000.0
dns = 5000.0

[time]
tstart = 0.
tend = 0.
dt = 1.
dt_diag = 1.
idiag = 22
jdiag = 10

[options]
dycore = 2              # 1 = glam, 2 = glissade
flow_law = 0            # 0 = isothermal, 2 = temperature dependent
evolution = 3           # 3 = inc. remapping, 4 = FO upwind
temperature = 0         # 0 = set column to surf. air temp, 1 = prognostic, 2 = hold at init. values
marine_margin = 0       # 0 = do nothing (also see option "whichmarn" in glide_types.F90)

[ho_options]
which_ho_babc = 5       # 5 = take basal traction param value from .nc input
which_ho_efvs = 2       # 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 3     # 1 = SLAP GMRES, 3 = glissade parallel PCG, 4 = Trilinos for linear solver
which_ho_nonlinear = 0  # 0 = Picard, 1=JFNK
which_ho_approx = 2     # 1 = SSA, 2 = Blatter-Pattyn, 3 = L1L2
which_ho_precond = 2    # 0 = none, 1 = diagonal, 2 = SIA based (ONLY use for which_ho_approx = 2)

[parameters]
default_flwa = 5.7e-18

[CF default]
comment = Same as experiment 3 from EISMINT-shelf
title = Confined Shelf Experiment (first-order dynamics)

[CF input]
name = shelf-confined.nc
time = 1

[CF output]
variables = thk uvel vvel velnorm
frequency = 1
name = shelf-confined.out.nc

