name: markdown

# if .md files are touched in a PR, lint them!

on:
  pull_request:
    branches: ["master"]
    paths:
        - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  linter:
    if: ${{ github.repository == 'E3SM-Project/E3SM' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: tj-actions/changed-files@v45
      id: changed-files
      with:
        files: '**/*.md'
        separator: ","
    - uses: DavidAnson/markdownlint-cli2-action@v18
      if: steps.changed-files.outputs.any_changed == 'true'
      with:
        config: 'docs/.markdownlint.json'
        globs: ${{ steps.changed-files.outputs.all_changed_files }}
        separator: ","
