name: merge-to-next

on:
  pull_request:
    types: [labeled]
    branches: [master]

env:
  # This is the ONLY label that makes this action perform the merge
  LABEL_NAME: "CI: merge-to-next"

permissions:
  pull-requests: write  # To unset label if set by a non-authorized user
  contents: write       # To push to origin after merging

jobs:
  checks:
    outputs:
      do_merge: ${{ steps.set_outputs.outputs.result }}
    runs-on: ubuntu-latest
    steps:
      - name: Print who triggered the workflow
        run: |
          echo "The workflow was triggered by: ${{ github.actor }}"
          echo "proceed=yes" >> $GITHUB_ENV
      - name: Check label
        uses: actions/github-script@v6
        with:
          script: |
            // Check which label was set
            const label = context.payload.label.name; // Get the name of the label that was added
            if (label !== process.env.LABEL_NAME ) {
              console.log(`Label '${label}' does not match '${process.env.LABEL_NAME}'. Nothing to do.`);
              core.exportVariable('proceed', 'no');
            } else {
              console.log(`Label '${label}' matches '${process.env.LABEL_NAME}'. Will proceed.`);
            }

      - name: Check actor team
        if: ${{ env.proceed == 'yes' }}
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.ORG_READ_ACCESS_TOKEN }}
          script: |

            // Check if user can merge to next (i.e., the user is an integrator)
            const teamName = 'e3sm-integrators';
            const org = context.repo.owner;

            try {
              const { data: membership } = await github.rest.teams.getMembershipForUserInOrg({
                org,
                team_slug: teamName,
                username: context.actor
              });

              if (membership.state === 'active') {
                console.log(`${context.actor} is a member of the team "${teamName}". Will proceed.`);
              } else {
                console.log(`${context.actor} is NOT a member of the team "${teamName}".`);
                console.log(`The label ${process.env.LABEL_NAME} will be removed.`);
                core.exportVariable('proceed', 'no');
              }
            } catch (error) {
              if (error.status === 404) {
                console.log(`${context.actor} is NOT a member of the team "${teamName}".`);
              } else {
                console.error(`Error checking membership: ${error.message}`);
              }
              core.exportVariable('proceed', 'no');
              console.log(`The label ${process.env.LABEL_NAME} will be removed.`);
            }
      - name: Check actor is an assignee
        if: ${{ env.proceed == 'yes' }}
        uses: actions/github-script@v6
        with:
          script: |
            const assignees = context.payload.pull_request.assignees;
            let isAssignee = false;

            if (assignees && assignees.length > 0) {
              for (const assignee of assignees) {
                if (assignee.login === ${context.actor}) {
                  isAssignee = true;
                  break;
                }
              }
            }

            if (isAssignee) {
              console.log(`${context.actor} is one of the assignees of the PR. Will proceed.`);
            } else {
              console.log(`${context.actor} is NOT an assignee of the PR.`);
              console.log(`The label ${process.env.LABEL_NAME} will be removed.`);
              core.exportVariable('proceed', 'no');
            }

      - name: Check mergeability
        if: ${{ env.proceed == 'yes' }}
        uses: actions/github-script@v6
        with:
          script: |
            // Get the pull request details
            const prNumber = context.payload.pull_request.number; // Get the PR number
            const { data: pullRequest } = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: prNumber,
            });

            // Check if the pull request is mergeable (no conflicts and not a draft)
            if (!pullRequest.mergeable) {
              console.log(`The pull request is not mergeable`);
              console.log(`The label ${process.env.LABEL_NAME} will be removed.`);
              core.exportVariable('proceed', 'no');
              return;
            } else if (context.payload.pull_request.draft) {
              console.log(`The pull request is marked as draft, so it will not be merged.`);
              console.log(`The label ${process.env.LABEL_NAME} will be removed.`);
              core.exportVariable('proceed', 'no');
              return;
            } else {
              console.log(`The pull request is mergeable. Will proceed.`);
            }

            // Get the last commit of the pull request (so we can check the approvals came AFTER the last commmit)
            const commits = await github.rest.pulls.listCommits({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: prNumber,
            });
            const lastCommit = commits.data[commits.data.length - 1];

            // Check that there is at least one approval and NO requests for changes
            const reviews = await github.rest.pulls.listReviews({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: prNumber,
            });
            let hasApproval = false;
            let hasRequestChanges = false;
            for (const review of reviews.data) {
              if (review.state === 'APPROVED' && new Date(review.submitted_at) > new Date(lastCommit.commit.author.date)) {
                hasApproval = true;
              }
              if (review.state === 'CHANGES_REQUESTED') {
                hasRequestChanges = true;
              }
            }
            if (hasApproval && !hasRequestChanges) {
              console.log(`The pull request has at least one approval and no request changes. Will proceed.`);
            } else if (hasRequestChanges) {
              console.log(`The pull request has request changes. Will not merge.`);
              console.log(`The label ${process.env.LABEL_NAME} will be removed.`);
              core.exportVariable('proceed', 'no');
              return;
            } else {
              console.log(`The pull request does not have any approvals (or approvals are older than the last commit). Will not merge.`);
              console.log(`The label ${process.env.LABEL_NAME} will be removed.`);
              core.exportVariable('proceed', 'no');
              return;
            }
      - name: Remove label
        uses: actions/github-script@v6
        with:
          script: |
            const label = context.payload.label.name; // Get the name of the label that was added
            if (label !== process.env.LABEL_NAME ) {
              return;
            }
            const prNumber = context.payload.pull_request.number; // Get the PR number

            try {
              // Remove the label from the pull request
              await github.rest.issues.removeLabel({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: prNumber,
                name: process.env.LABEL_NAME
              });
              console.log(`Label '${process.env.LABEL_NAME}' has been removed from pull request #${prNumber}.`);
            } catch (error) {
              console.log(`Failed to remove label '${process.env.LABEL_NAME}' from pull request #${prNumber}: ${error.message}`);
              core.exportVariable('proceed', 'no');
            }
      - name: Set outputs
        id: set_outputs
        run: |
          if [[ "${EVENT_LABEL_NAME}" == "${MERGE_LABEL_NAME}" ]]; then
            if [[ "${PROCEED}" == "no" ]]; then
              echo "Label '${EVENT_LABEL_NAME}' was set, but the PR is not mergeable. The PR will NOT be merged."
              echo "do_merge=no" >> $GITHUB_OUTPUT
              exit 1
            else
              echo "Label '${EVENT_LABEL_NAME}' was set, and the PR is mergeable. The PR will be merged."
              echo "do_merge=yes" >> $GITHUB_OUTPUT
            fi
          else
            echo "Label '${EVENT_LABEL_NAME}' does not match the merge label '${MERGE_LABEL_NAME}'. The PR will NOT be merged"
            echo "do_merge=no" >> $GITHUB_OUTPUT
          fi
        env:
          EVENT_LABEL_NAME: ${{ github.event.label.name }}
          MERGE_LABEL_NAME: ${{ env.LABEL_NAME }}
          PROCEED: ${{ env.proceed }}
  merge:
    runs-on: ubuntu-latest
    needs: checks
    if: ${{ needs.checks.outputs.do_merge == 'yes' }}
    steps:
      - name: Perform merge
        run: |
          # Variables
          PR_NUMBER=${{ github.event.pull_request.number }} # Get the PR number
          # TARGET_BRANCH="next"
          TARGET_BRANCH="bartgol/mock-next"

          # Extract necessary information
          BRANCH=${{ github.head_ref }}
          AUTHOR=${{ github.event.pull_request.user.login }}
          LABELS=${{ github.event.pull_request.labels }}
          BODY=${{ github.event.pull_request.body }}
          BODY_LINES=($(echo "$BODY" | tr '\n' '\n')) # Split body into lines
          BODY_HEADER=$(printf "%s\n" "${BODY_LINES[@]}" | awk '/---/{exit}1') # Get body until separator

          # Prepare commit message

          COMMIT_TITLE="Merge branch '$BRANCH' into $TARGET_BRANCH (PR #$PR_NUMBER)"
          COMMIT_BODY="PR Author: $AUTHOR\nPR Labels: $LABELS\n\n$BODY_HEADER"

          # Set git credentials
          git config --local user.name "E3SM-Bot"
          git config --local user.email "e3sm-bot@nowhere.com"

          # Checkout the target branch
          git checkout $TARGET_BRANCH

          # Merge the pull request's source branch into the target branch
          git merge "$BRANCH" -m "$COMMIT_TITLE" -m "$COMMIT_BODY"

          # Push to the remote
          git push origin $TARGET_BRANCH
